body {
  background-color: #003049;
  background-image: url("https://live-production.wcms.abc-cdn.net.au/adb9895abd337e6fc67aaf608563884a?impolicy=wcms_crop_resize&cropH=2070&cropW=3680&xPos=0&yPos=193&width=862&height=485");
  background-size: cover;
  text-align: center;
  font-family: Outfit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background: #a2d2ff;
  background: radial-gradient(
    circle,
    rgba(162, 210, 255, 1) 0%,
    rgba(115, 187, 255, 1) 20%,
    rgba(102, 155, 188, 1) 56%,
    rgba(65, 127, 176, 1) 100%
  );

  border-radius: 15px;
  min-width: 80vw;
  min-height: fit-content;
}

main {
  background: #780000;
  background: linear-gradient(
    1deg,
    rgba(120, 0, 0, 1) 0%,
    rgba(0, 48, 73, 1) 20%,
    rgba(102, 155, 188, 1) 100%
  );

  border-radius: 15px;
  width: 75vw;
  padding: 10px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

main p {
  color: #003049;
  font-size: large;
}

main i {
  color: white;
}

.helge_ingstad img {
  object-fit: cover;
  object-position: top center;
  height: 393px;
}

footer {
  background: #a2d2ff;
  background: radial-gradient(
    circle,
    rgba(162, 210, 255, 1) 0%,
    rgba(115, 187, 255, 1) 20%,
    rgba(102, 155, 188, 1) 56%,
    rgba(65, 127, 176, 1) 100%
  );

  border-radius: 15px;
  min-width: 80vw;
}

footer p {
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  color: #C1121F;
  padding: 0px;
  margin: 5px;
}

h2,
h3,
h4 {
  color: #fff9ec;
}

a {
  color: #c1121f;
  text-decoration: none;
}
.portfolio {
  display: flex;
  flex-direction: column;
}

.ships img {
  width: 700px;
  border-radius: 10px;
}

.ships {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#links {
  display: flex;
  justify-content: space-evenly;
}
